body {
    position: relative;
    margin-right: 50px;
    margin-left: 50px;
}

&::before{
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background-image: url("../images/fundal1.jpg");
    background-position-x: top center;
    background-size: cover;
    opacity: 0.65;
}

h2 {
    margin-left: 780px;
    color: rgb(3, 255, 3);
}

h4 {
    margin-left: 902px;
    color: rgb(5, 42, 73);
    
}

p {
    margin-top: 90px;
}

a {
    margin: 10px;
}