body { 
    background-color: rgb(53, 158, 172);
    color: rgb(255, 255, 255);
    margin-right: 50px;
    margin-left: 50px;
}

#ip {

height: 600px;
display: block;
margin-left: 570px;
margin-top: 50px;
width: 700px;
object-fit: cover;
}

.galerie {
    width: 450px;
    height: 500px;
    object-fit: cover;
    margin-left: 90px;
    margin-top: 30px;
}

b {
    color: black;
}

a {
    margin: 10px;
}

h2 {
    margin-left: 770px;
    color: rgb(95, 25, 25);
}